<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/scripts/jquery-3.4.1.min.js"></script>
    <script src="../static/scripts/main.js"></script>
</head>
<body>
    <div class="main">
        <div class="top_panel">
            <button class="top_back"></button>
            <button class="top_share"></button>
            <button class="top_save">Сохранить</button>
        </div>
        <div class="content_container">
            <form method="POST" action="" enctype="multipart/form-data" class="form">
                <div class="empty_photo">
                    <div class="empty_button">
                        <img src="../static/img/editor_icons/emptyphoto.svg" alt="">
                            <h2 class="empty_header">Загрузите первую фотографию</h2>
                            <input class='input_file' name='file' type='file'>
                            <!-- <input type="submit"> -->
                    </div>
                </div>
            </form>
        </div>
        {% if video %}
            <video poster="{{ video['poster'] }}" id="player" playsinline controls>
                <source src="{{ video['video'] }}" type="video/mp4">
            </video>
        {% endif %}

        <div class="bottom_panel">
            <button class="bottom_btn bottom_addphoto"><span>Еще фото</span></button>
            <button class="bottom_btn bottom_music"><span>Музыка</span></button>
            <button class="bottom_btn bottom_text"><span>Текст</span></button>
            <button class="bottom_btn bottom_colorize"><span>Раскрасить</span></button>
        </div>
        <div class="panels">
            <div class="panels_musik">

            </div>
            <div class="panels_text">

            </div>
            <div class="panels_colorize">

            </div>
        </div>
    </div>
</body>
</html>
