<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="../static/scripts/jquery-3.4.1.min.js"></script>
    <script src="../static/scripts/preview.js"></script>
</head>
<body>
    <div class="content">
        <div class="prev_wrapper">
            <div class="logo_wrapper"><img src="../static/img/logo-2.png" alt=""></div>
            <h1 class="prev_header">Никто не забыт</h1>
            <p class="prev_descr">Создайте историю про вашего деда и прадеда! Загрузите фотографию, найдите хорошую музыку, опишите его подвиге и расскажите всему миру!</p>
            <a href='/editor'><button class="prev_btn">Создать историю!</button></a>
        </div>
    </div>
</body>
</html>